.modal {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    z-index: 2;
    color: #000;
    border-radius: 10px;
}

span {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

