.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    color: #000;
    min-width: 300px;
}

span {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

